@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

button {
  border: none;
}

.container {
  width: 100%;
  height: 100vh;
  min-height: 450px;
  min-width: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center
}

#calculator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 415px;
  width: 235px;
  background-color: #f3f3f3;
  padding: 26px 23px 37px;
  border-radius: 7px 7px 25px 25px;
  box-shadow: 6px 9px 11px 1px #cacaca;
}

.row {
  display: flex;
  width: 100%;
}

.r-1 {
  height: 65px;
  border-radius: 2px;
  background-color: #e2e2e2;
}

.r-2 {
  height: 35px;
  background-color: grey;
}

.r-3 {
  height: 185px;
  flex-direction: column;
  justify-content: space-between;
}

.onoff {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.onoff button {
  height: 16px;
  width: 16px;
  border-radius: 8px;
  margin-right: 10px;
}

.buttons-row {
  display: flex;
  justify-content: space-between;
}

.buttons-row button {
  height: 28px;
  width: 28px;
  border-radius: 100%;
}

#screen {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen-border {
  height: 54px;
  width: 177px;
  background-color: #c3c3c3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  box-shadow: inset 4px 2px 3px 0px #b7b7b7;
}

.screen-border div {
  background-color: #e2e2e2;
  display: flex;
  align-items: center;


}

#screen input {
  display: inline-block;
  height: 30px;
  width: 150px;
  border-radius: 10px;
  border: none;
  background-color: #aab5a3;
  padding: 10px;
  text-align: right;
  box-shadow: inset 4px 4px 3px 0px #929c8b;

}

.r-3 button {
  color: #737373;
  background-color: #fcfcfc;
  border: 1px #c7c7c7 solid;
  box-shadow: inset -1px -1px 4px 0px #ccc;
  /*padding-bottom: 1px;*/
  color: #888;
  font-family: 'Roboto', sans-serif;
}

button.btn-brown {
    color: #9a8c78;
}

button.btn-green {
    color: #738861;
}

button.btn-yellow {
    background-color: #fdf25d;
    box-shadow: inset -1px -1px 4px 0px #ccc147;
}

/*#screen {
height: 65px;
width: 100%;
position: relative;
* {
box-sizing: border-box;
margin: 0;
padding: 0;
}


margin-bottom: 20px;
}*/



/*#buttons {
height: 185px;
}*/

/*.buttons-row {

}*/
